<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Coffee Maker</title>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script>
        /*<![CDATA[*/
        var app = angular.module('myApp', []);
        app.controller('inventoryCtrl', function($scope, $http, $q) {
            /**
             * New inventory, which is loaded with the names of ingredients
             * already in the inventory and empty amounts
             */
             $scope.newInventory = [];

            /**
             * Resets the form back to blank, but leaves a single blank ingredient field
             */
             $scope.reset = function() {
                $http.get("/api/v1/inventory").then(function (response) {
                    $scope.currInventory = response.data.ingredientList;

                    // Copy each ingredient in the inventory into new inventory
                    $scope.newInventory = [];
                    $scope.currInventory.forEach((i) => {
                        $scope.newInventory.push({
                            ingredient: i.ingredient,
                            amount: 0
                        })
                    });
                }, function (rejection) {
                    alert("Error loading inventory");
                });
            }

            /**
             * Validates the form's entries before submitting
             */
             $scope.valid = function() {
                // Use a flag to track what to return and keep a running
                // error message
                let v = true;
                let message = "";
                let regex = /^\d{1,10}$/;

                // Validate ingredients
                $scope.newInventory.forEach((i) => {
                    if (i.ingredient === '') {
                        message += "Invalid ingredient name: <blank>\n";
                        v = false;
                    }

                    // Ensure the price is a positive integer
                    let amt = Number.parseFloat(i.amount);
                    if (!regex.test(i.amount) || amt % 1 !== 0 || amt < 0) {
                        message += "Invalid ingredient amount: " + i.amount + "\n";
                        v = false;
                    }
                });
                
                // Send an alert if something is not right
                if (!v) {
                    alert(message);
                }
                
                // Return
                return v;
            }

            /**
             * Submits a request to validate, then post the inventory
             */
             $scope.submit = function() {
                if ($scope.valid()) {
                    $scope.updateInventory();
                }
            }

            /**
             * Makes an HTTP request to put the inventory to the database
             */
             $scope.updateInventory = function() {
                $http.put("/api/v1/inventory", $scope.newInventory).then(
                    function(success) {
                        if (window.confirm("Inventory successfully updated! Would you like to go to the home page?")) {
                            window.location.href="/index";

                        } else {
                            // Reset the form if the user isn't leaving
                            $scope.reset();
                        }

                    }, function(rejection) {
                        alert("Error while updating inventory");
                        return false;
                    }
                );
            }

            $scope.reset();
        });
        /*]]>*/
    </script>

    <body ng-app="myApp" ng-controller="inventoryCtrl" style="background: #eee;">
        <!-- Container for main content---limited to 650px -->
        <div class="container-fluid pb-5" style="max-width: 650px;">
            <!-- Header -->
            <header class="position-relative d-flex justify-content-center align-items-center py-3 mb-4">
                <!-- Back button -->
                <a href="/" class="position-absolute start-0 text-dark text-decoration-none">
                    <i class="material-symbols-outlined h2 mb-0" style="font-weight: 600;">arrow_back</i>
                </a>
                <!-- Page title -->
                <a href="/" class="text-dark text-decoration-none">
                    <span class="fw-bold h1">Coffee Maker</span>
                </a>
                <!-- Logout button -->
                <form action="/logout" class="d-flex align-items-center">
	                <button type="submit" class="btn btn-outline-secondary d-flex position-absolute end-0"><i class="material-symbols-outlined me-2">logout</i>Log out</button>
	            </form>
            </header>

            <div class="rounded-4 border p-3 pb-0 bg-white shadow">
                <!-- Header -->
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="d-flex fw-bold m-0 pe-4"><i class="material-symbols-outlined me-2" style="font-weight: 600;">inventory</i>Inventory</h5>
                    <a href="/admin/add-ingredients" class="btn btn-primary rounded-2 d-flex"><i class="material-symbols-outlined me-2">add</i>Add ingredients</a>
                </div>

                <!-- List of recipes -->
                <div class="container-fluid border rounded-2" ng-if="currInventory.length > 0" style="overflow: hidden;">
                    <!-- Labels -->
                    <div class="row px-3 py-3 d-flex align-items-center" style="background: #eee;">
                        <div class="col-6 px-0 pe-5">
                            <h6 class="m-0 text-secondary">Name</h6>
                        </div>
                        <div class="col-4 px-0 pe-5">
                            <h6 class="m-0 text-secondary">Amount</h6>
                        </div>
                        <div class="col-2 px-0">
                            <h6 class="m-0 text-secondary">Addition</h6>
                        </div>
                    </div>
                    <!-- Items -->
                    <div class="row px-3 py-3 border-top d-flex align-items-center" ng-repeat="ingredient in currInventory">
                        <div class="col-6 px-0 pe-5">{{ingredient.ingredient}}</div>
                        <div class="col-4 px-0 pe-5">{{ingredient.amount}}</div>
                        <div class="col-2 px-0">
                            <input type="text" class="form-control" ng-model="newInventory[$index].amount" />
                        </div>
                    </div>
                </div>

                <!-- Form buttons -->
                <div class="d-flex align-items-center justify-content-end pt-1 pb-3" ng-if="currInventory.length > 0">
                    <button class="btn btn-secondary d-flex rounded-3 px-3 mt-2 me-2" ng-click="reset()">
                        <i class="material-symbols-outlined me-2">restart_alt</i>Reset
                    </button>
                    <button class="btn btn-primary d-flex rounded-3 px-3 mt-2" ng-click="submit()">
                        <i class="material-symbols-outlined me-2">upgrade</i>Update inventory
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>