<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Coffee Maker</title>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script>
        /*<![CDATA[*/
        var app = angular.module('myApp', []);
        app.controller('placeOrderCtrl', function($scope, $http, $q) {
            /**
             * Get all recipes in the database
             */
            $http.get("/api/v1/recipes").then(function(response) {
                $scope.recipes = response.data;
            });
            
            /**
             * Get the current user
             */
            $http.get("/api/v1/currentuser").then(function (response) {
                $scope.user = {
                    username: response.data.username,
                    role: response.data.authorities[0].authority
                };
            });
            
            /** Currently selected recipe in the dropdown */
            $scope.currentRecipe;

            /** List of beverages in the order */
            $scope.orderList = {};
            
            /**
             * Add the currently selected beverage to the order
             */
            $scope.addBeverage = function () {
                // Ignore non-recipes
                if ($scope.currentRecipe.name === '') {
                    return;
                }

                if ($scope.orderList[$scope.currentRecipe.name]) {
                    // If the recipe is already in the order, increment its amount
                    $scope.orderList[$scope.currentRecipe.name].amount++;

                } else {
                    // If it isn't in the order, store the recipe and its amount
                    $scope.orderList[$scope.currentRecipe.name] = {
                        recipe: $scope.currentRecipe,
                        amount: 1
                    };
                }
            }

            /**
             * Calculate the total price of the order
             */
            $scope.getTotal = function () {
                let total = 0;
                for (recipe in $scope.orderList) {
                    total += ($scope.orderList[recipe].recipe.price * $scope.orderList[recipe].amount);
                }
                return total;
            }

            /**
             * Validate payment an place the order
             */
            $scope.placeOrder = function () {
                // Reset flags
                $scope.submissionProcessing = true;
                $scope.submissionFailure = false;
                $scope.submissionSuccess = false;

                // Don't place an order without an recipes in it or without payment entered
                if (Object.keys($scope.orderList).length === 0 || $scope.payment === undefined) {
                    $scope.submissionProcessing = false;
                    return;
                }

                // Ensure enough money has been payed
                if ($scope.payment < $scope.getTotal()) {
                    $scope.submissionProcessing = false;
                    $scope.submissionFailure = true;
                    $scope.error = 'Insufficient payment';
                    return;
                }

                // Create the order object
                const order = {
                    timestamp: new Date().toISOString(),
                    recipes: getRecipeArray(),
                    username: $scope.user.username,
                    status: 'Submitted',
                    price: $scope.getTotal()
                }

                // Place the order and display a success/error message
                $http.post('/api/v1/orders', order).then(
                    function (response) {
                        $scope.submissionProcessing = false;
                        $scope.submissionSuccess = true;
                    },
                    function (errResponse) {
                        $scope.submissionProcessing = false;
                        $scope.submissionFailure = true;
                        $scope.error = 'Error submitting order';
                    }
                );
            }

            /**
             * Helper to convert the order into an array of recipes with the number of each recipe inside 
             * corresponding to their amount in the order.
             */
            function getRecipeArray () {
                let arr = [];

                // Push n copies of each recipe in the order to the array, given that n is the amount of
                // the recipe in the order
                for (item in $scope.orderList) {
                    for (let i = 0; i < $scope.orderList[item].amount; i++) {
                        arr.push($scope.orderList[item].recipe);
                    }
                }
                return arr;
            }
        });

        /*]]>*/
    </script>

    <body ng-app="myApp" ng-controller="placeOrderCtrl" style="background: #eee;">
        <!-- Container for main content---limited to 650px -->
        <div class="container-fluid pb-5" style="max-width: 650px;">
            <!-- Header -->
            <header class="position-relative d-flex justify-content-center align-items-center py-3 mb-4">
                <!-- Back button -->
                <a href="/" class="position-absolute start-0 text-dark text-decoration-none">
                    <i class="material-symbols-outlined h2 mb-0" style="font-weight: 600;">arrow_back</i>
                </a>
                <!-- Page title -->
                <a href="/" class="text-dark text-decoration-none">
                    <span class="fw-bold h1">Coffee Maker</span>
                </a>
                <!-- Logout button -->
                <form action="/logout" class="d-flex align-items-center">
                    <button type="submit" class="btn btn-outline-secondary d-flex position-absolute end-0"><i class="material-symbols-outlined me-2">logout</i>Log out</button>
                </form>
            </header>

            <div class="rounded-4 border p-3 bg-white shadow">
                <!-- Header -->
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="d-flex fw-bold m-0 pe-4"><i class="material-symbols-outlined me-2">coffee_maker</i>Order Coffee</h5>
                </div>

                <div class="rounded-3 border py-3">
                    <!-- Form -->
                    <form class="px-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <!-- Recipe name form -->
                            <select class="form-select me-4" ng-model="currentRecipe" ng-options="(recipe.name + ' - $' + recipe.price) for recipe in recipes">
                                <option value="">Select Recipe</option>
                            </select>

                            <button class="btn btn-outline-primary rounded-2 d-flex align-items-center text-nowrap" ng-click="addBeverage()"><i class="material-symbols-outlined me-2">add_shopping_cart</i>Add to order</button>
                        </div>
                    </form>

                    <!-- Items in the order -->
                    <div class="container-fluid mb-2">
                        <!-- Labels -->
                        <div class="row px-3 py-3 border-top d-flex align-items-center" style="background: #eee;">
                            <div class="col-6 px-0 pe-4" >
                                <h6 class="m-0 text-secondary">Name</h6>
                            </div>
                            <div class="col-4 px-0 pe-4">
                                <h6 class="m-0 text-secondary">Price</h6>
                            </div>
                            <div class="col-2 px-0">
                                <h6 class="m-0 text-secondary">Amount</h6>
                            </div>
                        </div>
                        <!-- Items -->
                        <div class="row px-3 py-3 border-top d-flex align-items-center" ng-repeat="(name, order) in orderList">
                            <div class="col-6 px-0 pe-5">
                                <span>{{name}}</span>
                            </div>
                            <div class="col-4 px-0 pe-5">
                                <span>${{order.recipe.price}}</span>
                            </div>
                            <div class="col-2 px-0">
                                <input type="number" class="form-control" ng-model="order.amount" min="0" />
                            </div>
                        </div>
                        <!-- Total cost label -->
                        <div class="row px-3 py-3 border-top d-flex align-items-center" style="background: #eee;">
                            <div class="col-6 px-0 pe-4 d-flex justify-content-end">
                                <h6 class="m-0 text-secondary">Total</h6>
                            </div>
                            <div class="col-4 px-0">
                                <h6 class="m-0 text-secondary">${{getTotal()}}</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Payment -->
                    <div class="px-3">
                        <label>Payment amount</label>
                        <div class="input-group">
                            <span class="input-group-text text-secondary" style="background: #eee;">$</span>
                            <input type="number" class="form-control" ng-model="payment" min="0" />
                        </div>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="d-flex align-items-center justify-content-end pt-1">
                    <button class="btn btn-primary d-flex rounded-3 px-3 mt-2" ng-click="placeOrder()">
                        <i class="material-symbols-outlined me-2">local_cafe</i>Place order
                    </button>
                </div>
            </div>

            <!-- Error and success alerts -->
            <div ng-show="submissionProcessing" class="alert alert-dark d-flex justify-content-center align-items-center mt-5">
                <span class="spinner-border spinner-border-sm me-2" role="status"></span>Order processing...
            </div>
            <div ng-show="submissionSuccess" class="alert alert-success d-flex justify-content-center mt-5">Order placed successfully. Your change is {{payment - getTotal()}}.</div>
            <div ng-show="submissionFailure" class="alert alert-danger d-flex justify-content-center mt-5">{{error}}</div>

        </div>
    </body>
</html>